raven==6.9.0
zope.interface==4.5.0
twisted==14.0.2
pyOpenSSL==17.5.0 #is the last compatible version, was:17.3.0
cryptography==2.3.1 #was: <2.0 # Last version dropped support for openssl 1.0.1 that is the one in the legacy servers.
pycryptodome==3.7.0 #was: pycrypto==2.6
